.main {
  padding: 6rem 18rem;
  min-height: 90vh;
}

.nav ul {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.nav ul li {
  margin: 0 2rem;
  list-style: none;
  font-weight: bold;
}

.nav ul li:active {
  scale: 0.95;
  transition: scale 100ms ease;
}

.activepage {
  position: relative;
}

.activepage::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgba(var(--card-border-rgb), 0.25);
  border-radius: 50px;
  filter: blur(0.3rem);
  transition: all 250ms ease;
  z-index: -1;
}

.herotext>* {
  margin: 1em 0;
  text-align: center;
  text-overflow: balanced;
}

.herotext p {
  margin: 1em auto;
  width: 30rem;
  line-height: 1.5em;
}

.herotext h1 {
  font-size: 48px;
}

.h2 {
  text-align: center;
  margin: 6rem 0;
  margin-bottom: 2rem;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  gap: 2rem;
  margin: auto;
}

.blog {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 2px solid rgba(var(--card-border-rgb), 0.25);
  transition: background 200ms, border 200ms;
}

.blog h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  text-align: center;
  text-wrap: balance;
}

.blog p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
}

#bg {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100vh;
  aspect-ratio: 16/9;
  z-index: -1;
  opacity: 0.1;
  filter: brightness(0.5);
}